#----------------------------------------------------------------------------
# YTSummary- Open Source AI extention tool wtith Backend
#
# @package     YTSummary
# @author      Ahmed AL-Essam <ahmed.esam@duc.edu.iq>
# @copyright   Copyright (c) 2017 - 2023, Mawazen.co
# @license     http://opensource.org/licenses/GPL-3.0 - GPLv3
# @link        https://www.mawazen.co/YTSummary
# @since       v1.0.0
#---------------------------------------------------------------------------- 

# YTSummary Configuration File
#
# Set your database credentials in order to connect to the database. 

#------------------------------------------------------------------------
# GENERAL SETTINGS
#------------------------------------------------------------------------
# VERSION      = 1.0.0                      
# RELEASE_LABLE= Alpha                      
# DEBUG_MODE   = TRUE
# BASE_URL     = http://localhost
# LANGUAGE     = English
# DEBUG_MODE   = TRUE
# FRONTEND_URL = http://localhost:5173
SERVER_PORT    =3000

#------------------------------------------------------------------------
# DATABASE SETTINGS
#------------------------------------------------------------------------

    DB_HOST      = localhost
    DB_NAME      = ytsummary
    DB_USERNAME  = root
    DB_PASSWORD  = ''
    DB_TYPE      = mysql
    DB_PORT      = 3306

#-----------------------------------------------------------------------
#  API 
#-----------------------------------------------------------------------

    API_KEY         =
    CLIENT_ID       =
    CLIENT_SECRET   =
    REDIRECT_URI    =http://localhost/
    ACCESS_TOKEN    =
    REFRESH_TOKEN   = 

#-----------------------------------------------------------------------
#  HUGGINGFACE
#-----------------------------------------------------------------------


    HF_ACCESS_TOKEN =
# End of file .env
# Location: ./.env