body{
    width: 300px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.39);
    height: auto;
}

#inp{
    font-size: large;
    width: 100%;
}

#answer{
    width: 98%;
    height: auto;
    font-size: large;
    padding: 5px;
    border: 1px gray solid ;
    margin: 2px;
}